#!/usr/bin/env bash
 
alias a="alias"
alias c="cat"
alias df="df -h"
alias e="nvim"
alias g="grep -E --color"
alias gg="git grep"
alias h="history"
alias pong="ping www.google.com -c 1 -W 30"
alias pslag="ps -lA | head -n 1; ps -lA | grep -i"
alias rmcolors="sed -r \"s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[m|K]//g\""
alias t="tree -C"
alias v="nvim"
alias vim="nvim"
