#!/usr/bin/env zsh
# Customizations for zsh
{# NOTE: This is a Jinja2 template processed by Ansible! #}

# use neovim locally, but vim over ssh
if [[ -n "$SSH_CONNECTION" ]]; then
  export EDITOR="vim"
else
  export EDITOR="nvim"
fi

# path for pipx
if [[ "$PATH" != *"$HOME/.local/bin"* ]]; then
  export PATH="$PATH:$HOME/.local/bin"
fi

# remap the CapsLock key to another Control key (for the X)
if type setxkbmap >/dev/null 2>&1; then
  setxkbmap -layout us -option ctrl:nocaps 2>/dev/null
fi

autoload -Uz compinit
zstyle ':completion:*' menu select
fpath+=~/.zfunc

export ZSH_PYENV_QUIET="true"
