[user]
{% for key, value in git.user.iteritems() %}
   {{ key }} = {{ value }}
{% endfor %}

[branch]
  autosetuprebase = always

[diff]
  tool = {{ git.mergetool }}

[merge]
  tool = {{ git.mergetool }}
